<html>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

    <!-- Menu -->
    <%- partial('_partial/menu') %>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>

</body>


</html>